html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --color-background: #000814;
  --color-surface: #001d3d;
  --color-primary: #003566;
  --color-accent: #ffc300;
  --color-highlight: #ffd60a;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.calc-outer,
.calc-inner,
.calc-header,
.calc-display {
  display: flex;
  width: 100%;
}

.calc-outer {
  background-color: var(--color-background);
  height: 800px;
}

.calc-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.calc-buttons button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
